<TMPL_INCLUDE NAME="header.tmpl">
   <table class="box">
    <tr>
     <th class="prime">Users</th>
    </tr>
    <tr>
     <td>
      <a href="manipuser.phtml">Add A User</a><br />
      <a href="manipuser.phtml?action=list">List Users</a><br />
      <a href="manipgroup.phtml">Add A Group</a><br />
      <a href="manipgroup.phtml?action=list">List Groups</a>
     </td>
    </tr>
   </table>
   <table class="box">
    <tr>
     <th class="prime">Organization</th>
    </tr>
    <tr>
     <td>
      <a href="manipdepartment.phtml">Add A Department</a><br />
      <a href="manipdepartment.phtml?action=list">List Departments</a><br />
      <a href="manipsystem.phtml">Add A System</a><br />
      <a href="manipsystem.phtml?action=list">List Systems</a>
     </td>
    </tr>
   </table>
   <table class="box">
    <tr>
     <th class="prime">Hosts</th>
    </tr>
    <tr>
     <td>
      <a href="maniphost.phtml">Add A Host</a><br />
      <a href="maniphost.phtml?action=list">List Hosts</a><br />
      <a href="manipprofile.phtml">Add A Profile</a><br />
      <a href="manipprofile.phtml?action=list">List Profiles</a><br />
      <a href="manipattribute.phtml">Add An Attribute</a><br />
      <a href="manipattribute.phtml?action=list">List Attributes</a>
     </td>
    </tr>
   </table>
   <table class="box">
    <tr>
     <th class="prime">Smeeplets</th>
    </tr>
    <tr>
     <td>
      <p><a href="manipsmeeplet.phtml">Add A Smeeplet</a></p>
      <p><a href="manipsmeeplet.phtml?action=list">List Smeeplets</a></p>
     </td>
    </tr>
   </table>
   <table class="box">
    <tr>
     <th class="prime">Reports</th>
    </tr>
    <tr>
     <td>
      <a href="manipreporter.phtml">Add A Reporter</a><br />
      <a href="manipreporter.phtml?action=list">List Reporters</a><br />
      <a href="manipreport.phtml">Add A Report</a><br />
      <a href="manipreport.phtml?action=list">List Reports</a>
     </td>
    </tr>
   </table>
   <table class="box">
    <tr>
     <th class="prime">Jobs</th>
    </tr>
    <tr>
     <td>
      <a href="manipjob.phtml">Add A Job</a><br />
      <a href="manipjob.phtml?action=list">List Jobs</a><br />
      <a href="manipresgroup.phtml">Add A Resource Group</a><br />
      <a href="manipresgroup.phtml?action=list">List Resource Groups</a>
     </td>
    </tr>
   </table>
   <table class="box">
    <tr>
     <th class="prime">System</th>
    </tr>
    <tr>
     <td>
      <a href="shared.phtml">Cache Statistics</a><br />
      <a href="sessions.phtml">Sessions</a><br />
      <a href="manipannotation.phtml">Add Annotation</a><br />
      <a href="manipannotation.phtml?action=list">List Annotations</a>
     </td>
    </tr>
   </table>
<TMPL_INCLUDE NAME="footer.tmpl">
