<TMPL_INCLUDE NAME="header.tmpl">
     <table class="box">
      <tr>
       <th class="prime">Deletion</rh>
      </tr> 
      <tr>
       <td><TMPL_VAR NAME="message"></td>
      </tr>
      <tr>
       <td><a href="<TMPL_VAR NAME="back">">OK</a></td>
      </tr>
     </table>
<TMPL_INCLUDE NAME="footer.tmpl">
