<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>Loggerithim :: Error</title>
  <link rel="stylesheet" href="logger.css" type="text/css" />
 </head>
 <body>
  <div id="header">
   <a href="main.phtml">Loggerithim</a>
  </div>
  <table class="box">
   <tr>
    <th class="prime">Error</th>
   </tr>
   <tr>
    <td>
     An error has occurred in Loggerithim.  Please note the text below and notify the administrator:
     <br><br>
     <TMPL_VAR NAME="error">
    </td>
   </tr>
  </table>
<TMPL_INCLUDE NAME="footer.tmpl">
