<TMPL_INCLUDE NAME="header.tmpl">
     <form method="post" action="manipjob.phtml">
     <table class="box">
     <TMPL_IF NAME="joblist">
      <tr>
       <th class="prime" colspan="4">Jobs</th>
      </tr>
      <tr>
       <th>Attribute</th>
       <th>Smeeplet</th>
       <th>Interval</th>
       <th class="last">Actions</th>
      </tr>
      <TMPL_LOOP NAME="jobs">
      <TMPL_IF NAME="__ODD__">
      <tr class="listOdd">
      <TMPL_ELSE>
      <tr class="listEven">
      </TMPL_IF>
       <td><TMPL_VAR NAME="attribute"></td>
       <td><TMPL_VAR NAME="smeeplet"></td>
       <td><TMPL_VAR NAME="interval"></td>
       <td>
        <a href="manipjob.phtml?jobid=<TMPL_VAR NAME="jobid">"><img src="edit.gif" alt="Edit" /></a>
        <a href="manipnotification.phtml?jobid=<TMPL_VAR NAME="jobid">"><img src="newcontact.gif" alt="Add Notification" /></a>
        <a href="manipnotification.phtml?jobid=<TMPL_VAR NAME="jobid">&amp;action=list"><img src="listcontacts.gif" alt="List Notifications" /></a>
        <a href="confirm.phtml?action=remove&amp;jobid=<TMPL_VAR NAME="jobid">"><img src="trash.gif" alt="Remove" /></a>
       </td>
      </tr>
      </TMPL_LOOP>
     <TMPL_ELSE>
      <tr>
       <th class="prime" colspan="2">Job</th>
      </tr>
	  <TMPL_IF NAME=jobid>
      <tr>
       <td>Job ID</td>
       <td>
        <TMPL_VAR NAME="jobid">
        <input type="hidden" name="jobid" value="<TMPL_VAR NAME="jobid">" />
       </td>
      </tr>
	  </TMPL_IF>
      <tr>
       <td>Attibute</td>
       <td>
        <select name="attributeid">
         <TMPL_LOOP name=attributes>
         <option value="<TMPL_VAR NAME="id">" <TMPL_IF NAME="selected">selected="selected"</TMPL_IF>><TMPL_VAR NAME="name"></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>
      <tr>
       <td>Smeeplet</td>
       <td>
        <select name="smeepletid">
         <TMPL_LOOP NAME="smeeplets">
         <option value="<TMPL_VAR NAME="id">" <TMPL_IF NAME="selected">selected="selected"</TMPL_IF>><TMPL_VAR NAME="name"></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>
      <tr>
       <td>Interval</td>
       <td>
        <input type="text" value="<TMPL_VAR NAME="interval">" name="interval" />
        <input type="hidden" name="submitter" value="true" />
       </td>
      </tr>
      <tr>
       <td class="final" colspan="2"><input type="submit" value="submit" /></td>
      </tr>
     </TMPL_IF>
     </table>
     </form>
<TMPL_INCLUDE NAME="footer.tmpl">
