<TMPL_INCLUDE NAME="header.tmpl">
     <form method="post" action="manipsmeeplet.phtml">
     <table class="box">
      <TMPL_IF NAME="smeepletlist">
      <tr>
       <th class="prime" colspan="4">Smeeplet</th>
      </tr>
      <tr>
       <th>Name</th>
       <th>Description</th>
       <th class="last">Actions</th>
      </tr>
      <TMPL_LOOP NAME="smeeplets">
      <TMPL_IF NAME="__ODD__">
      <tr class="listOdd">
      <TMPL_ELSE>
      <tr class="listEven">
      </TMPL_IF>
       <td><TMPL_VAR NAME="name"></td>
       <td><TMPL_VAR NAME="description"></td>
       <td>
        <a href="manipsmeeplet.phtml?smeepletid=<TMPL_VAR NAME="id">"><img src="edit.gif" alt="Edit Smeeplet" /></a>
        <a href="confirm.phtml?action=remove&amp;smeepletid=<TMPL_VAR NAME="id">"><img src="trash.gif" alt="Remove Smeeplet" /></a>
       </td>
      </tr>
      </TMPL_LOOP>
      <TMPL_ELSE>
      <tr>
       <th class="prime" colspan="2">Smeeplet</th>
      </tr>
      <tr>
       <td>Smeeplet Name</td>
       <td><input type="text" value="<TMPL_VAR NAME="name">" name="name" /></td>
      </tr>
      <tr>
       <td>Description</td>
       <td>
        <input type="text" value="<TMPL_VAR NAME="description">" name="description" />
        <input type="hidden" name="submitter" value="true" />
        <input type="hidden" name="smeepletid" value="<TMPL_VAR NAME="id">" />
       </td>
      </tr>
      <tr>
       <td class="final" colspan="2"><input type="submit" value="submit" /></td>
      </tr>
      </TMPL_IF>
     </table>
     </form>
<TMPL_INCLUDE NAME="footer.tmpl">
